[DRIVERS IMAGES DIRECTORY]
; driver name  = directory
USB2ish Device = C:\devProject\CheckDriver\CheckDriver\bin\Debug\Images\audiobox.jpg
R&S CMW100 = \\jagnt092\transfer\Check_Drivers\Images\CMW100.jpg
[DRIVERS AND VERSIONS]
; driver name  = driver version
USB2ish Device = 5.3
R&S CMW100 = 4.7